@import url('https://fonts.googleapis.com/css2?family=Actor&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Actor&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Actor&family=Inter:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Actor&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    margin: 0;
    background-color: #232946;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.ittsmt{
    width: 100px;
    margin-left: 10%;
    position: absolute;
}


/*Header*/
header{
    width: 100%;
    height: 80px;
    font-family: 'Actor';
    padding-top: 41px;
}
h2{
    /*border: 3px solid black;*/
    width: 17%;
    color: #EEBBC3;
    padding-left: 45%;
    padding-top: 1%;
}
.ingresar{
position: absolute;
width: 155px;
height: 40px;
left: 88%;
top: 5%;
background: none;
border: 2px solid #EEBBC3;
color: #EEBBC3;
font-size: 'Actor';
font-size: 14px;
}
.registrar{
position: absolute;
width: 155px;
height: 40px;
left: 75%;
top: 5%;
background: none;
border: 2px solid #EEBBC3;
color: #EEBBC3;
font-size: 'Actor';
font-size: 14px;
}

.registrar:hover{
    color: #232946;
    border: 2px solid #232946;
    background-color: #EEBBC3;
    cursor: pointer;
}
.ingresar:hover{
    color: #232946;
    border: 2px solid #232946;
    background-color: #EEBBC3;
    cursor: pointer;
}


/*Body*/
.bici{
    position: absolute;
    width: 800.61px;
    height: 600.59px;
    left: 48%;
    top: 164.57px;
    transform: rotate(-0.56deg);
    }
    p-text{
        position: absolute;
        width: 612px;
        height: 326px;
        left: 115px;
        top: 25%;
        
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 50px;
        letter-spacing: 0.04em;
        color: #B8C1EC;
    }
    
    .button-market{
    position: absolute;
    width: 200px;
    padding-right: 40px;
    height: 60px;
    left: 116px;
    top: 45%;
    background-color:  #EEBBC3;
    border: none;
    outline: none;
    font-family: 'Actor';
    font-size: 16px;
    color: #232946;
    }
    .nego{
        color: black;
        text-decoration: none;
    }
    .arrowGlobal{
    width: 25px;
    
    }
/*Footer*/


footer{
    color: #EEBBC3;
    font-family: 'Actor';
    padding: 1em;
    margin-top: auto;
}
li{
   text-align: center;
   font-size: 20px;
}
